<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="shortcut icon" href="{% static 'images/favicon1.ico' %}"/>
    <title>{%block title %}Home{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="google" content="notranslate"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>


<!-- Navigation -->
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a class="nav-link" id="nav-brand"  href="{% url 'blog:posts' %}">
                <img class="nav-brand-image" src="{% static 'images/n.png' %}" alt="...">
            </a>
        </div>
        <div class="navbar-items">
            <ul class="nav-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:contact' %}">Contact me</a>
                </li>
                <li class="nav-item">
                    <div class="category-items">
                        <a class="nav-link" id="category-link">Categories</a>
                        <div class="nav-dropdown-menu" id="nav-dropdown-menu">
                            <span class="dropdown-divider"></span>
                            <a href="{% url 'blog:posts' %}" class="dropdown-item">All</a>
                            <span class="dropdown-divider"></span>
                            {% for category in categories%}
                            <a class="dropdown-item" href="{% url 'blog:category' category.name %}">{{category.name}}</a>
                            {% if category == last_category %}
                            {% else %}
                            <span class="dropdown-divider"></span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:download' %}">Downloads</a>
                </li>
                <div class="show-about-me">
                    <div>
                    <a class="nav-link" >About me</a>
                    </div>
                </div>

                <div class="change-theme" title="switch to dark mode" id="change-theme">
                    <span class="light-mode" id="light-mode"></span>
                    <span class="dark-mode" id="dark-mode"></span>
                </div>

                
            </ul>
            <div class="collapse">
                <div class="top-bar"></div>
                <div class="medium-bar"></div>
                <div class="bottom-bar"></div>
            </div>
            
        </div>
    </div>
</nav>

<div>
    {% for message in messages %}
    <div class="messages" id="messages">
        <div class="message">
            {{message}}
        </div>
        <div  class="closeIcon" onclick="closeIconFunction()" id="closeIcon">&times;</div>
    </div>
    {% endfor %}
    
</div>

<button onclick="goToTop()" class="to-top" id="to-top" title="Go to top"><i class="fa fa-arrow-up"></i></button>
{% block content %}
<!-- Content Goes here -->

{% endblock content %}
<!-- Footer -->
<footer class="footer">
    <div id="copyright">
        &copy;
    </div>
</footer>


<script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
</script>
<script src="{% static 'scripts/main.js' %}"></script>


</body>
</html>