{% extends "blog/base.html" %}
{% load humanize %}
{% block content %}


<header class="masthead">
    <div class="container">
        <div class=" col-md-10 mx-auto">
            <div class="site-heading">
                <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to Erastus Blog </h3>
                <p class="text-light">We cover Python, JavaScript, HTML, HTMX and CSS related topics. &nbsp
                </p>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="profile-img">
                    {% if post.image %}
                    <img src="{{post.image.url}}" alt="" width="100%" height="270px">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h3><a class="card-title" href="{% url 'blog:details' post.slug  %}">{{ post.title }}</a></h3>
                    <p class="card-text text-muted h6"><span
                            style="text-transform: capitalize;"> By {{ post.author }}</span>&nbsp;|&nbsp;
                        {{post.created_on}}&nbsp;|&nbsp;{{post.get_read_time}}&nbsp;|&nbsp;Category:&nbsp;
                {% for category in post.category.all %}
                <a href="{% url 'blog:category' category.name %}">
                    {{ category.name }}</a>&nbsp;
                {% endfor %}
                        {% if post.updated %}
                        &nbsp;|&nbsp;Updated&nbsp;{{post.updated_on|naturaltime}}
                        {% endif %}
                    </p>
                    <p class="card-text" id="post">{{post.content|slice:":200"|safe }}</p>
                    <a href="{% url 'blog:details' post.slug  %}" class="btn btn-primary">Read more &rarr;</a>
                    <br>
                    {% if post.comments_count > 1 %}
                    <small class="text-muted"> {{post.comments_count|intcomma}} comments</small> &nbsp;
                    <small><a hx-get="{% url 'blog:likes' post.slug %}" hx-target="body" class="text-muted">
                        <i class="fa fa-heart" aria-hidden="true" style="{{post.like_button_color}};"></i></a> &nbsp;{{ post.likes|intcomma}} </small>&nbsp;
                    <small><a hx-get="{% url 'blog:dislikes' post.slug %}" hx-target="body" class="text-muted">
                        <i class="fa fa-thumbs-down" aria-hidden="true" style="{{post.dislike_button_color}};"></i></a> &nbsp;{{ post.dislikes|intcomma}} </small>
                    {% else %}
                    <small class="text-muted"> {{post.comments_count|intcomma}} comment</small> &nbsp;
                    <small> <a hx-get="{% url 'blog:likes' post.slug %}" hx-target="body" class="text-muted">
                        <i class="fa fa-heart" id="like-button" aria-hidden="true" style="{{post.like_button_color}};"></i></a>
                        &nbsp;{{ post.likes|intcomma}} </small>&nbsp;
                    <small> <a hx-get="{% url 'blog:dislikes' post.slug %}" hx-target="body" class="text-muted">
                        <i class="fa fa-thumbs-down" aria-hidden="true"style="{{post.dislike_button_color}};"></i></a> &nbsp;{{ post.dislikes|intcomma}} </small>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}