{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact{% endblock %}
{% block content %}


<form hx-post="." hx-target="body">
    {% csrf_token %}
    <div class="container mt-3">
        <h3 class="pb-2 mb-2 border-bottom ">Contact us</h3>
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
        <a href="/" class="btn btn-primary"><i
                class="fa fa-home w3-margin-right"></i>Go to Home page
        </a>
    </div>
</form>


{% endblock %}