{% extends "blog/base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <h5 class="card-header">About us</h5>
                {% for setting in settings %}

                <div class="card-body">
                    <h3><a class="card-title" href="#">{{ post.title }}</a></h3>
                    <p class="card-text">{{setting.about }}</p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
    <a href="/" class="w3-blue w3-bar-item w3-button"><i
            class="fa fa-home w3-margin-right"></i>Go to Home page
    </a>
</div>
{%endblock%}