{% extends "blog/base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
            <h5 class="card-header">About us</h5>
            {% for setting in settings %}

                <div class="card-body">
                    <h3><a class="card-title" href="#">{{ post.title }}</a></h3>
                    <p class="card-text">{{setting.about }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}