{% load static %}

<div class="side-bar">
    <div class="about-card-header">
        <img class="about-image" src="{% static 'images/s.png' %}" alt="">
        <div class="about-header-content">
            <h5 class="about-header">Erastus Nzula</h5>
            <p class="about-header">Software developer</p>
            <a href="https://twitter.com/erastus_nzula?ref_src=twsrc%5Etfw" class="twitter-follow-button"
            data-show-screen-name="false" data-show-count="false" target="_blank">Follow @erastus_nzula</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <div class="about-body">
        {% comment %} {% for setting in settings %}
        <p class="card-text"> {{setting.about|slice:":100"}}&nbsp;
        <a class="read-more-button" hx-get="{% url 'blog:settings' %}" hx-target="body">read more</a></p>    
        {% endfor %} {% endcomment %}
        <div class="posts-titles-container">
            <h3 class="posts-titles-sidebar">Recent articles</h3>
            <div class="g">
            {% for post in posts_list %}
            <div class="posts-titles">
               {{forloop.counter}}. <a class="posts-titles-link" href="{% url 'blog:details' post.slug  %}">{{ post.title }}</a>
            </div>
            {% endfor%}
        </div>
        </div>

        <div class="twitter-feed">
            {% comment %} <a href="https://twitter.com/erastus_nzula?ref_src=twsrc%5Etfw" class="twitter-follow-button"
            data-show-screen-name="false" data-show-count="false" target="_blank">Follow @erastus_nzula</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> {% endcomment %}
    
            <div>
                <a class="twitter-timeline" data-height="530" href="https://twitter.com/erastus_nzula?ref_src=twsrc%5Etfw">
                    Tweets by erastus_nzula</a> 
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            
        </div>
    </div>
</div>