<!DOCTYPE html>
<html lang="en">
<title>500</title>
{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="p-1 m-2">
    <div class="col-lg-8 mt-2 mb-4 mx-auto pt-4">
        <div class="card mb-3">
            <h2 class="card-header">There has been an internal error. (500)</h2>
            <p class="card-body">Our support team has been notified.</p>
        </div>
    </div>
</div>
</body>
{% endblock content %}
</html>